.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 16px;
}

.grid {
  display: grid;
  max-width: 300px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
  border: 1px solid #000;
}

.cell {
  background-color: transparent;
  border: 1px bold #000;
  height: 0px;
  padding-bottom: 100%;
}

.cell-activated {
  background-color: green;
}